div.container.maxWidth.hide.routesDiv.category-container
	div.row.maxWidth
		div.container.maxWidth
			div.row.maxWidth
				div.left-side-menu.pull-left.span3
					div.left-side-menu-title FILTER
				div.nav-category.span12
					span PHOTOS
					div.amountRows.pull-right In list
						select.amountSelection
							option(value="10" selected) 10
							option(value="25") 25
							option(value="50") 50
							option(value="100") 100
					a.stripe-view.pull-right
					a.blocks-view.pull-right
				ul
					div.products.dotted
						li.product-box-dotted.span3
							a(href="#product")
								img(src="./images/img_products/product2.png")
							span.name-product 
								a(href="#") iPad Air asadsad aasadsas acacasc aaca acacaccs acaca acasca
							span.price-product $250
								sup
									small 00
							div.product-description
							a.quick-shop(title="Quick Shop" href)
							a.add-to-cart(title="Add to Cart" href)
							a.add-to-wish(title="Add to Wish List" href)
							a.add-to-compare(title="Add to Compare" href)
					div.products.dotted
						li.product-box-dotted.span3
							a(href="#")
								img(src="./images/img_products/product2.png")
							span.name-product 
								a(href="#") iPad Air asadsad aasadsas acacasc aaca acacaccs acaca acasca
							span.price-product $250
								sup
									small 00
							div.product-description
							a.quick-shop(title="Quick Shop" href)
							a.add-to-cart(title="Add to Cart" href)
							a.add-to-wish(title="Add to Wish List" href)
							a.add-to-compare(title="Add to Compare" href)
					div.products.dotted
						li.product-box-dotted.span3
							a(href="#")
								img(src="./images/img_products/product2.png")
							span.name-product 
								a(href="#") iPad Air asadsad aasadsas acacasc aaca acacaccs acaca acasca
							span.price-product $250
								sup
									small 00
							div.product-description
							a.quick-shop(title="Quick Shop" href)
							a.add-to-cart(title="Add to Cart" href)
							a.add-to-wish(title="Add to Wish List" href)
							a.add-to-compare(title="Add to Compare" href)
					div.products.dotted
						li.product-box-dotted.span3
							a(href="#")
								img(src="./images/img_products/product2.png")
							span.name-product 
								a(href="#") iPad Air asadsad aasadsas acacasc aaca acacaccs acaca acasca
							span.price-product $250
								sup
									small 00
							div.product-description
							a.quick-shop(title="Quick Shop" href)
							a.add-to-cart(title="Add to Cart" href)
							a.add-to-wish(title="Add to Wish List" href)
							a.add-to-compare(title="Add to Compare" href)
					div.pagination.pagination-products.pull-right
						ul.pull-right
							li
								a(href="#") Prev
							li
								a(href="#") 1
							li
								a(href="#") 2
							li
								a(href="#") 3
							li
								a(href="#") 4
							li
								a(href="#") Next