title= title
link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
link(rel='stylesheet', href='/stylesheets/reset.css')
link(rel='stylesheet', href='/stylesheets/style.css')

script(type='text/javascript' src='/javascripts/libs/jquery.js')
script(type='text/javascript' src='/javascripts/libs/underscore.js')
script(type='text/javascript' src='/javascripts/libs/backbone.js')
script(type='text/javascript' src='/javascripts/libs/bootstrap.min.js')
script(type='text/javascript' src='/javascripts/libs/i18next-1.7.1.min.js')

script(type='text/javascript' src='/javascripts/routes/routes.js')
script(type='text/javascript' src='/javascripts/lng/languages.js')

script(type='text/javascript' src='/javascripts/main.js')
script(type='text/javascript' src='/javascripts/models/languageModel.js')
script(type='text/javascript' src='/javascripts/collections/languagesCollection.js')
script(type='text/javascript' src='/javascripts/views/languageModelViews.js')
script(type='text/javascript' src='/javascripts/views/languagesCollectionViews.js')
script(type='text/javascript' src='/javascripts/menuEffects.js')