div.product-list.routesDiv.hide.container.maxWidth
	div.row.maxWidth
		div.container.maxWidth
			div.row.maxWidth
				div.left-side-menu.span3.pull-left
					div.left-side-menu-title BRANDES
					div.left-side-menu-content
				div.product-photos.pull-right
					div.product-photos-maim
						img(src="./images/img_products/ipad.png").main-product-photo
					div.product-photos-small
						img(src="./images/img_products/ipad.png").small-product-photo
						img(src="./images/img_products/ipad1.png").small-product-photo
						img(src="./images/img_products/ipad2.png").small-product-photo
						img(src="./images/img_products/ipad3.png").small-product-photo
						img(src="./images/img_products/ipad4.jpg").small-product-photo
				div.pr.pull.right
					div.product-info.pull-right
						div.name-product.pull-left Ipad mini
						div.price-product-list.pull-right $200
							sup
								small 00
						div.old-price-product-list.pull-right $300
							sup
								small 00
						div.small-description
							span.product-brand 
								b Brand: 
								| Apple
							span.product-code 
								b Code:
								| 1402
							span.product-reward 
								b Reward Points: 
								| 50
							span.product-availability 
								b Availability: 
								| In Stock
							span.enother-info 
								b Enother info: 
								| Good info
						div.rating
							div.star(data-number="4")
							div.star(data-number="3")
							div.star(data-number="2")
							div.star(data-number="1")
							div.star(data-number="0")
							div.vote-name vote:
						div.rating-middle
							div.rating-average 4,6 points
							div.rating-name Average:
						div.service-btns
							button.toCompare(title="Add to compare")
							button.toWishList(title="Add to wish list")
							button.toShoppingCart(title="Add to cart") Add to cart
							button.toQuickShop(title="Quick Shop") Quick Shop
							div.qty-change
								button.increase(title='Increase' data-change='1') +
								button.decrease(title='Decrease' data-change='-1') -
							div.qty
								label(name='qty') Qty:
								input#qty(type='text' value='1')
					div.big-description.tabbable.pull-right
						ul.nav.nav-tabs#productNavTabs
							li.active
								a(href='#tab1' data-toggle='tab') Description
							li
								a(href='#tab2' data-toggle='tab') Specification
							li
								a(href='#tab3' data-toggle='tab') Rewiews (0)
						div.tab-content
							div#tab1.tab-pane.active
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
							div#tab2.tab-pane
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
							div#tab3.tab-pane
								p Write a review
								label Your Name:
								input(type='text')
								label Your Review:
								textarea(cols='200' rows='5')
								button.btn-st.btn Send
					div.related-products.pull-right
						div.related-head
							| Related Products
						div.related-list
							li.product-box-dotted.span3
								a(href="#")
									img(src="./images/img_products/product6.png")
								span.name-product
									a(href="#") iPad Air new
								span.price-product $250
									sup
										small 00
								a.quick-shop( data-i18n="[title]ns.common:product.quickShop;" href)
								a.add-to-cart( data-i18n="[title]ns.common:product.addToCart;" href)
								a.add-to-wish( data-i18n="[title]ns.common:product.addToWish;" href)
								a.add-to-compare( data-i18n="[title]ns.common:product.addToCompare;" href)
							li.product-box-dotted.span3
								a(href="#")
									img(src="./images/img_products/product6.png")
								span.name-product
									a(href="#") iPad Air new
								span.price-product $250
									sup
										small 00
								a.quick-shop( data-i18n="[title]ns.common:product.quickShop;" href)
								a.add-to-cart( data-i18n="[title]ns.common:product.addToCart;" href)
								a.add-to-wish( data-i18n="[title]ns.common:product.addToWish;" href)
								a.add-to-compare( data-i18n="[title]ns.common:product.addToCompare;" href)
							li.product-box-dotted.span3
								a(href="#")
									img(src="./images/img_products/product6.png")
								span.name-product
									a(href="#") iPad Air new
								span.price-product $250
									sup
										small 00
								a.quick-shop( data-i18n="[title]ns.common:product.quickShop;" href)
								a.add-to-cart( data-i18n="[title]ns.common:product.addToCart;" href)
								a.add-to-wish( data-i18n="[title]ns.common:product.addToWish;" href)
								a.add-to-compare( data-i18n="[title]ns.common:product.addToCompare;" href)
							li.product-box-dotted.span3
								a(href="#")
									img(src="./images/img_products/product6.png")
								span.name-product
									a(href="#") iPad Air new
								span.price-product $250
									sup
										small 00
								a.quick-shop( data-i18n="[title]ns.common:product.quickShop;" href)
								a.add-to-cart( data-i18n="[title]ns.common:product.addToCart;" href)
								a.add-to-wish( data-i18n="[title]ns.common:product.addToWish;" href)
								a.add-to-compare( data-i18n="[title]ns.common:product.addToCompare;" href)														